In [5]:
a = 3
b = 7

#Errado
print("O valor da variável a é {a} e o valor da variável b é {b}")
print(f"O valor da variável a é a e o valor da variável b é b")

# Certo
print(f"O valor da variável a é {a} e o valor da variável b é {b}")

# Equivalente
print("O valor da variável a é", a, "e o valor da variável b é", b)

O valor da variável a é {a} e o valor da variável b é {b}
O valor da variável a é a e o valor da variável b é b
O valor da variável a é 3 e o valor da variável b é 7
O valor da variável a é 3 e o valor da variável b é 7

In [6]:
# Expressões
a = 5
b = 3

print("a + b = a + b")
print(f"{a} + {b} = {a + b}")

a + b = a + b
5 + 3 = 8

In [ ]:
# Respostas mais completas

idade = input("Digite a sua idade:")
print(f"Você tem {idade} anos de idade")

Você tem 21 anos de idade

In [9]:
dia = 23
mes = 1
ano = 2025

print(f"{dia}/{mes}/{ano}") # BRA
print(f"{mes}/{dia}/{ano}") # EUA

23/1/2025
1/23/2025

In [ ]:
# Números decimais - Separados por "ponto"
num1 = 1.5
num2 = 2.99
num3 = 10.456

In [18]:
# round() - Arredondar valores
div = 10 / 3

print( div )
print( round(div) )
print( round(div, 1) )
print( round(div, 2) )
print( round(div, 3) )

3.3333333333333335
3
3.3
3.33
3.333

In [27]:
# format - Arredondar valores
div = 10  / 3

print( div )
# print( div:.0f )     # Errado
print(f"{div:.0f}")
print(f"{div:.1f}")
print(f"{div:.2f}")
print(f"{div:.3f}")

3.3333333333333335
3
3.3
3.33
3.333

In [31]:
# Interpolação com funções
preco = 120.45678

print(f"Total a pagar: {preco}")
print(f"Total a pagar: { round(preco, 2) }")

Total a pagar: 120.45678
Total a pagar: 120.46

In [34]:
# Separador de milhar
valor1 = 1_000_000
valor2 = 1_00_00_00

print(valor1)
print(valor2)

1000000
1000000

In [37]:
# Separador de milhar
valor = 1_000_000.99

print(f"{valor:.2f}")
print(f"{valor:,.2f}")
print(f"{valor:_.2f}")

1000000.99
1,000,000.99
1_000_000.99

In [46]:
# Textos de múltiplas linhas
print("Nome: Thiago Escola: SENAI")
print("Nome: Thiago \nEscola: SENAI")

Nome: Thiago Escola: SENAI
Nome: Thiago
Escola: SENAI

In [47]:
# Textos de múltiplas linhas
print("""Nome: Thiago
Escola: SENAI""")

print('''Nome: Thiago
Escola: SENAI''')

Nome: Thiago
Escola: SENAI
Nome: Thiago
Escola: SENAI

In [48]:
dia = 23
mes = 1
ano = 2025

print(f"""Dia: {dia}
Mês: {mes}
Ano: {ano}""")

Dia: 23
Mês: 1
Ano: 2025

In [2]:
# f-string - Python >= 3.6
# format   - Python >= 2.0

curso = "ADS"

print(f"Curso: {curso}") # f-string
print("Curso: {}".format(curso)) # format

Curso: ADS
Curso: ADS

In [5]:
nome = "Thiago"
profissao = "Instrutor"

print("Meu nome {} minha profissão é {}".format(nome, profissao))

Meu nome Thiago minha profissão é Instrutor