# <font color='OrangeRed'><center>Exercícios - Conversão de Valores</center></font>

### Exercício 01

Use uma função para converter o **texto** abaixo para o tipo **Inteiro**

In [1]:
numero = '5'
numero = int (numero)

print (numero)
print (type(numero))

5
<class 'int'>

---

### Exercício 02

Use uma função para converter o **texto** abaixo para o tipo **ponto flutuante**

In [4]:
numero = '10.99'
numero = float (numero)


print (type(numero))

<class 'float'>

---

### Exercício 03

Crie o algoritmo abaixo:
1. Peça para o usuário digitar um **número inteiro**
1. Converta o valor digitado para o tipo **int**
1. Imprima o valor informado

In [1]:
num1 = input (" FALE UM NUMERO INTEIRO")
num1 = int ( num1)

print (type (num1))

<class 'int'>

---

### Exercício 04

Faça a conversão do **número inteiro** abaixo para o tipo Texto (**String**)

In [2]:
idade = 10
idade = str(idade)

print('Maria tem ' + idade + ' anos de idade.')

Maria tem 10 anos de idade.

---

### Exercício 05

Faça a conversão dos dois textos abaixo para o tipo **número inteiro**, em seguida faça uma operação de soma e imprima o resultado

In [5]:
x = '12'
y = '13'
x = int(x)
y = int(y)
b = x + y



print(f'A soma de {x} + {y} é: {b}')

A soma de 12 + 13 é: 25

---

### Exercício 06

Faça a conversão dos dois textos abaixo para o tipo **número de ponto flutuante**, em seguida faça uma operação de soma e imprima o resultado

In [2]:
x = '2.44'
y = '3.55'

x =  float(x)
y = float (y)

var = x + y

print(f'A soma de {x} + {y} é: {var} ')

A soma de 2.44 + 3.55 é: 5.99

---

### Exercício 07

Faça a conversão dos três textos abaixo para o tipo **número inteiro**, em seguida faça uma operação de soma e imprima o resultado

In [1]:
x = '2'
y = '3'
z = '5'


x = int(x)
y = int(y)
z = int(z)

var = x+y+z 
print(f'A soma de {x} + {y} + {z} é: {var} ')

A soma de 2 + 3 + 5 é: 10

---

### Exercício 08

Crie o algoritmo abaixo:
1. Peça para o usuário digitar um **número de ponto flutuante**
1. Converta o valor digitado para o tipo **float**
1. Imprima o valor informado

In [4]:
num1 = input("digite um numero float")
num1 = float (num1)
print (num1)

2323213.0

---

### Exercício 09

Faça a conversão dos dois textos abaixo para o tipo **número inteiro**, em seguida faça uma operação de subtração e imprima o resultado

In [10]:
x = '100'
y = '25'
 
x = int(x)
y = int(y)



print(f'A subtração de {x} - {y} é: {x-y} ')

A subtração de x - y é: 125

---

### Exercício 10

Faça a conversão dos dois textos abaixo para o tipo **número de ponto flutuante**, em seguida faça uma operação de subtração e imprima o resultado

In [6]:
x = '7.00'
y = '2.91'

x = float(x)
y = float(y)



print(f'A subtração {x} - {y} é: {x-y}')

A subtração 7.0 - 2.91 é: 4.09

---

### Exercício 11

Faça a conversão dos três textos abaixo para o tipo **número inteiro**, em seguida faça uma operação de subtração e imprima o resultado

In [14]:
x = '30'
y = '20'
z = '10'

x = int(x)
y = int(y)
z = int(z)

print(f'A subtração de {x} - {y} - {z} é: {x-y-z} ')

A subtração de 30 - 20 - 10 é: 0

---

### Exercício 12

Faça a conversão do **número de ponto flutuante** abaixo para o tipo Texto (**String**)

In [13]:
preco = 125.99
preco = str(preco)

print(f'Sua comanda ficou em  + {preco}')

Sua comanda ficou em  + 125.99

---

### Exercício 13

Crie o algoritmo abaixo:
1. Peça para o usuário digitar um **número de ponto flutuante**
1. Peça para o usuário digitar um outro número, mas agora do tipo **inteiro**
1. Converta o 1º número digitado para o tipo **float** e o 2º número digitado para o tipo **int**
1. Imprima a soma dos dois números informados

In [18]:
nume1 = input (" digite um numero de float")
nume2 = input (" digite um numero de  int")

nume1 = float(nume1)
nume2 = int(nume2)

print (f"A soma dos numeros é: {nume1 + nume2} ")

A soma dos numeros é: 50.0